.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  flex-shrink: 0;
  text-transform: uppercase;
  border: none;

  &--phone {
    position: relative;
    color: $text-white;
    background: $bg-accent-gradient;
    box-shadow: 0px 7px 24px rgba(104, 197, 234, 0.25);
    padding: 14px 18px 14px 46px;
    border-radius: 10px;
    font-size: 18px;

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('../img/icons/phone.svg') no-repeat center;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    }
  }

  &--cta {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    padding: 16px 32px;
    border-radius: 10px;
    background: #bf344f;
    color: $text-white;
  }

  &--scroller {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: url('../img/icons/arrow-down.svg') no-repeat center;
    background-size: cover;
  }

  &--service {
    font-weight: 700;
    font-size: 16px;
    color: $text-accent;
    border-radius: 20px;
    border: 1px solid $text-accent;
    padding: 16px 32px;
  }

  &--service-card {
    font-weight: 600;
    font-size: 16px;
    color: $text-white;
    background: $bg-accent-gradient;
    border-radius: 50px;
    padding: 16px 32px;
  }
}
