.countdown {
  align-self: stretch;
  display: inline-flex;
  align-items: center;
  padding: 13px 0;
  background: #5facca;
  border-radius: 5px;
  justify-content: center;

  @include for-sm {
    align-self: flex-start;
    padding-right: 39px;
    padding-left: 39px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 26px;
    position: relative;

    &:last-child {
      padding-right: 0;
    }

    &::after {
      content: ':';
      display: inline-block;
      position: absolute;
      top: 8px;
      right: 11px;
      font-size: 20px;
      font-weight: 400;
      color: $text-white;
    }

    &:last-child::after {
      content: none;
    }
  }

  &__numbers {
    font-family: 'Cuprum', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: $text-white;
  }

  &__desc {
    font-family: 'Cuprum', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $text-white;
  }
}
