.cta-blue {
  margin-top: 40px;
  padding: 20px 0;
  background: $bg-accent;

  @include for-md {
    margin-top: 70px;
    padding: 70px 0;
  }

  @include for-lg {
    margin-top: 100px;
  }

  &__columns {
    flex-direction: column;

    @include for-md {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__column {
    flex-basis: 50%;

    &--left {
      @include for-sm {
        align-self: center;
      }

      @include for-md {
        align-self: auto;
      }

      @include for-lg {
        max-width: 600px;
      }
    }

    &--right {
      @include for-sm {
        width: 50%;
        align-self: center;
      }

      @include for-md {
        width: auto;
        align-self: auto;
      }

      @include for-lg {
        max-width: 370px;
      }
    }
  }

  &__heading {
    font-size: 26px;
    margin-bottom: 10px;

    @include for-md {
      font-size: 48px;
    }
  }

  &__text {
    font-weight: 400;
  }

  &__button {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
