.footer-caption {
  border-radius: 15px;
  display: block;
  margin-bottom: 40px;

  @include for-md {
    display: inline-block;
    padding: 40px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
    background: $bg-white;
    margin-bottom: 0;
  }

  &__heading {
    @include for-md {
      display: none;
    }
  }

  &__inner {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 1.2;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    color: $text-gray;
    line-height: 1.2;

    &--phone {
      color: $text-black;
      font-size: 22px;
    }
  }
}
