.footer-map {
  @include for-md {
    padding: 85px 0;
    position: relative;
  }

  &__map {
    height: 265px;

    @include for-md {
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}
