.form {
  display: flex;
  flex-direction: column;

  &__item {
    display: block;

    .form--vertical & {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__input {
    width: 100%;
    font-size: 16px;
    padding: 21px 25px;
    background: #fcfcfc;
    border-radius: 10px;
    border: none;
    transition: $transition;

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
    }
  }
}
