.header {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;

  @include for-md {
    position: static;
    flex-direction: column;
    align-items: stretch;
  }

  @include for-xl {
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
  }

  &__brand {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: $text-white;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 148px;
    z-index: 1;

    @include for-md {
      align-self: center;
      font-size: 22px;
      text-align: center;
      max-width: none;
    }

    @include for-xl {
      align-self: flex-start;
      text-align: left;
      max-width: 232px;
      margin-right: 30px;
    }

    &--accent {
      color: $text-accent-light;
    }
  }
}
