.menu-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  z-index: 1;

  @include for-md {
    display: none;
  }

  &::before,
  &::after {
    content: '';
  }

  &::before,
  &__middle-line,
  &::after {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: $bg-white;
    transition: $transition;
  }

  &::before {
    top: calc(50% - 10px);
    transform: translateY(-50%);
  }

  &__middle-line {
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    bottom: calc(50% - 10px);
    transform: translateY(50%);
  }

  &--close {
    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    & > .menu-button__middle-line {
      background: transparent;
    }

    &::after {
      bottom: calc(50% - 4px);
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
