.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #2192bf 0%,
    rgba(26, 210, 214, 0.87) 100%
  );
  border-radius: 0 0 50vw 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-100%);
  transition: $transition;

  @include for-md {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &__item {
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.86;
    color: $text-white;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--opened {
    border-radius: 0;
    transform: translateY(0);
  }
}
