.result-card {
  height: 280px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;

  @include for-lg {
    height: 400px;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: $transition;
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .splide__slide.is-active &::after {
    background: transparent;
  }
}
