.section {
  padding: 40px 0 0;

  &:last-of-type {
    padding-bottom: 40px;
  }

  @include for-md {
    padding-top: 70px;

    &:last-of-type {
      padding-bottom: 70px;
    }
  }

  @include for-lg {
    padding-top: 100px;

    &:last-of-type {
      padding-bottom: 100px;
    }
  }

  &__heading {
    margin-bottom: 20px;

    @include for-md {
      margin-bottom: 40px;
    }
  }
}
