.services {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__columns {
    justify-content: center;
    margin-bottom: 24px;
  }

  &__column {
    flex-grow: 1;
    flex-basis: calc(100% / 3);

    @include for-md {
      flex-grow: 0;
    }
  }

  &__button {
    @include for-md {
      align-self: center;
    }
  }
}
