.team-card {
  padding: 0 20px;

  @include for-sm {
    padding: 0 40px;
  }

  &__image-wrap {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;

    @include for-md {
      margin-bottom: 10px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;

    @include for-md {
      font-size: 24px;
    }
  }
}
