.testimonial-card {
  background: $bg-white;
  border-radius: 15px;
  border: 1px solid #dddddd;
  padding: 10px 10px 60px;
  transition: $transition;

  @include for-md {
    padding: 20px 20px 100px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include for-md {
      margin-bottom: 10px;
    }
  }

  &__image-wrap {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;

    @include for-md {
      width: 100px;
      height: 100px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__titles {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;

    @include for-md {
      font-size: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
  }

  .splide__slide.is-active & {
    border-color: #86d2f0;
    box-shadow: 0 5px 30px 0 rgba(134, 210, 240, 0.23);
    transform: translateY(-5px);
  }
}
