.text {
  font-size: 14px;
  font-weight: 500;
  color: $text-black;
  line-height: 1.2;

  @include for-md {
    font-size: 18px;
  }

  &--white {
    color: $text-white;
  }

  &--accent {
    color: $text-accent;
    font-weight: 700;
  }
}

.heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 0.86;
  font-family: 'Cuprum', sans-serif;

  @include for-md {
    font-size: 72px;
  }

  &--centered {
    text-align: center;
  }

  &--white {
    color: $text-white;
  }

  &--medium {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
  }

  &--accent {
    color: $text-accent;
  }

  &--section {
    font-size: 32px;
    font-weight: 700;
    text-align: left;

    @include for-md {
      font-size: 48px;
    }

    &.heading--centered {
      @include for-md {
        text-align: center;
      }
    }
  }
}
