$text-white: white;
$text-black: black;
$text-accent-light: #79bed9;
$text-accent: #2192bf;
$text-gray: #6d6d6d;

$bg-accent-gradient: linear-gradient(84.21deg, #2192bf 0%, #1ad2d6 100%);
$bg-accent: #2192bf;
$bg-white: white;

$transition-duration: 0.3s;
$transition: ease-in-out $transition-duration;
